body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Permanent Marker", cursive;
    background-color: salmon;
  }